* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Marcellus', serif;
  font-size: 16px;
  line-height: 1.7;
  color: #FFF;
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: 400;
}